<!DOCTYPE html>
<html>
    <head>
        <!--제목-->
        <title>제품 상세 조회</title>
        <script>
            // 목록가기
            function goBack() {
                //alert("back");                       
                location.href="/prod/list" // 경로 지정
            }
            // 수정하기
            function goUpdate() {
                // alert("update");
                fm = document.getElementById("fm");
                fm.action = "/prod/update/";
                fm.submit();
            }
            // 삭제하기
            function goDelete() {
                // alert("delete");
                //fm = document.getElementById("fm");
                //fm.action = "/mysql/cart_delete/";
                //fm.submit();
            }
        </script>
    </head>
    <body>
        <form name="fm" id="fm" method="post" action="#">
            <input type="hidden" name="prod_id" value="{{ prod_detail.prod_id }}" >
            <input type="hidden" name="prod_name" value="{{ prod_detail.prod_name }}" >
            <input type="hidden" name="prod_lgu" value="{{ prod_detail.prod_lgu }}" >
            <input type="hidden" name="prod_buyer" value="{{ prod_detail.prod_buyer }}" >
            <input type="hidden" name="prod_sale" value="{{ prod_detail.prod_sale }}" >
            {% csrf_token %}
        </form>
        <h1>
            제품 상세 조회
        </h1>
        <table border="1">
            
            <tr>
                <th align="center">prod_id</th>
                <th align="center">prod_name</th>
                <th align="center">prod_lgu</th>
                <th align="center">prod_buyer</th>
                <th align="center">prod_sale</th>
            </tr>
            <tr>
                <td align="center">{{ prod_detail.prod_id }}</td>
                <td align="center">{{ prod_detail.prod_name }}</td>
                <td align="center">{{ prod_detail.prod_lgu }}</td>
                <td align="center">{{ prod_detail.prod_buyer }}</td>
                <td align="center">{{ prod_detail.prod_sale }}</td>
            </tr>
        </table>
        <!--인풋 태그 이용-->
        <input type="button" onclick="goUpdate();" value="수정">
        <input type="button" onclick="goDelete();" value="삭제">
        <input type="button" onclick="goBack();" value="목록가기">
    </body>
</html>