<!DOCTYPE html>
<!-- static에서 관리하는 폴더에 접근하기 위해서는 
    - 아래 load static을 정의해야한다-->
{% load static %} <!-- 파이썬 문법 -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front Javascript</title>
    <!--자바스크립트 만들기-->
    <script tpye="text/javascript">
        function doSumething() {
            // 잘 호출되는지 확인
            // 팝업 안내창 띄우기
            // alert("잘 호출쓰~");
            // input 텍스트 박스의 값 조회하기
            // document : html 문서 전체를 document라고 칭한다
            // getElementById : 태그 id 속정이 값이 괄호()안에 있는 값인 찾기
            // value : 텍스트박스에 입력되어 있는 값 - 문자열값
            a = document.getElementById("inputA").value;
            b = document.getElementById("inputB").value;
            // 조회 확인
            // alert(a)
            // alert(b)
            document.getElementById("valueA").innerHTML = a;
            document.getElementById("valueB").innerHTML = b;
            document.getElementById("valueC").innerHTML = Number(a)+Number(b);
        }
        // 시간 안내 띄우기
        function viewTime(){
            // 호출확인
            alert(new Date());
        }
    </script>
</head>
<body>
    <!-- <p></p> : 문단 -->
    <p>Front Javascript-1 페이지</p>
    <!-- 네비게이션(메뉴 카테고리) : 의미없는 태크 -->
    <nav>
        <!--메뉴규성을 하나의 파일에서 관리하기 / 파이썬 프로그램-->
        {% include 'frontapp/include/nav.html' %}
    </nav>
    <!-- 라인 그리기 -->
    <hr/>
    <!--현재 시간 팝업안내 띄우기-->
    <button onclick="viewTime();">현재시간 알려 주시오.</button>
    <hr/>
    <!--자바스크립트가 처리할 태그들 정의-->
    <label for="inputA">a</label>
    <input id=inputA value="1" onkeyup="doSumething()" type="text">
    <label for="inputB">a</label>
    <input id=inputB value="2" onkeyup="doSumething()" type="text">
    <p>
        <span id="valueA">1</span> +
        <span id="valueB">2</span> =
        <span id="valueC">3</span> 입니다.
    </p>
</body>
</html>